/bin
/bin/
/bin/*
/bin/obj/
/bin/obj/*
/bin/iso_root/
/bin/iso_root/*
*.o
*.a
*.d
*.iso
*.bin
src/rust/target
src/rust/target/*
!src/rust/src
!src/rust/build.rs
tools/bootloader
tools/bootloader/*
tools/scripts/*.py
